body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    border: 2px solid #000;
    padding: 30px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

.btn-manage, .btn-update, .btn-view{
    display: block;
    width: 70%;
    margin: 15px auto;
    padding: 12px 0;
    background-color: #c7d8e8;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.btn:hover {
    background-color: #b0c7db;
}
